body {
    
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
#result {
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -10px;
    margin-left: -75px;
}
#input {
   position: fixed;
    top: 20%;
    left: 45%;
    margin-top: -10px;
    margin-left: -75px;
} 


