body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
li { 
    line-height: 18px;
    margin-bottom: 12px; 
}
#result {
    position: fixed;
    top: 3%;
    left: 30%;
    margin-top: -10px;
    margin-left: -75px;
} 

